<section id="about">
	<div class="wrapper">
		<div class="pic about-elem"></div>
		<div class="review about-elem">
			<h2 class="long-shadow">about scriptum</h2>
			<p class="about-p">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors. </p>
			<a href="#about" class="long-shadow"><span>Learn more</span></a>
		</div>
	</div>
</section>