<section id="skills">
	<div class="wrapper">
		<h2 class="long-shadow">skills</h2>
		{% if site.data.settings.skills %}
			<div class="skill-lockup">
				{% for skill in site.data.settings.skills %}
					<div class="skill-unit">
						<div class="skill-label long-shadow">{{ skill.name }}</div>
						<div class="skill-icons skill-{{ skill.value }}">
							{% for i in (1..100) %}
								<span></span>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</section>