@font-face{
	font-family: 'Baron Neue';
	font-weight: 400;
	src: url(fonts/baron_neue.ttf);
}
@font-face{
	font-family: 'Baron Neue';
	font-weight: 700;
	src: url(fonts/baron_neue_bold.ttf);
}
@font-face{
	font-family: 'Silent Lips';
	font-weight: 400;
	src: url(fonts/silent_lips.ttf);
}
@font-face{
	font-family: 'Silent Lips';
	font-weight: 700;
	src: url(fonts/silent_lips_bold.ttf);
}