%display-flex-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
%justification{
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
%row-nowrap{
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
}

// Text settings
.long-shadow{
	text-shadow:#f0f0f0 1px 1px,
				#f0f0f0 2px 2px,
				#f0f0f0 3px 3px,
				#f0f0f0 4px 4px,
				#f0f0f0 5px 5px,
				#f0f0f0 6px 6px,
				#f0f0f0 7px 7px,
				#f0f0f0 8px 8px,
				#f0f0f0 9px 9px,
				#f0f0f0 10px 10px,
				#f0f0f0 11px 11px,
				#f0f0f0 12px 12px,
				#f0f0f0 13px 13px,
				#f0f0f0 14px 14px,
				#f0f0f0 15px 15px;
}

