<!DOCTYPE html>
<html>

	{% include head.html %}

	<body>

		{% include header.html %}

		<div class="page-content">

			{% include about.html %}
			{% include works.html %}
			{% include web-dev.html %}
			{% include skills.html %}
			{% include templates.html %}
			{% include news.html %}
			{% include quotes.html %}
			{% include contact.html %}
			
		</div>

		{% include footer.html %}

		<script src="assets/js/jquery-2.2.2.js"></script>
		<script src="assets/js/general.js"></script>
	</body>

</html>