#about{
	.wrapper{
		height: 725px;		
		width: inherit;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		.about-elem{height: 460px;}
		.pic{
			background: url(../img/about-bg.jpg) no-repeat center;
			background-size: contain;
			width: 678px;
		}
		.review{
			width: 545px;
			padding-left: 45px;

			display: flex;
			flex-wrap: wrap;
			align-content: center;
			.about-p{
				font-size: 15px;
				font-family: arial;
			}
			a{
				margin-top: 30px;
				font-size: 13px;
				text-decoration: none;
				&:hover{text-decoration: underline;}
			}
		}
	}
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
		.wrapper{
			height: auto;
			.about-elem{width: 100%;}
			.pic{display: none;}
			.review{
				padding: 0 1rem;
				text-align: justify;
			}
		}
	}
	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
		.wrapper{
			height: auto !important;
			.review{
				width: 75%;
				text-align: justify;
				padding-left: 0;
			}
		}
	}
	@media only screen and (min-device-width : 1024px) {
	    .wrapper{height: auto;}
	}
}