#news{
	.wrapper{
		padding: 130px 6.4%;
		.articles-wrapper{
			padding-top: 80px;
			display: flex;
			flex-direction: row;
			justify-content: center;
			.article{
				width: 25%;
				display: flex;
				flex-direction: column;
				margin: 0 15px;
				.icon{
					height: 15px;
					width: 15px; 
				}
				.author, .date{
					font:{
						family: arial;
						size: 13px;
					}
					text-transform: capitalize;
					padding-top: 18px;
					margin-right: 35px;
				}
				h6{font-size: 14px;}
				.text{
					color: #6c6c6c;
					text-transform: initial;
					letter-spacing: 1.5px;
					font:{
						family: arial;
						size: 14px;
					}
				}
				a{color: #979797;}
			}
		}
	}
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
		.wrapper{
			padding: 1%;
			.articles-wrapper{
				padding: 1vw 3vw;
				display: block;
				width: 100vw;
				box-sizing: border-box;
				.article{
					width: 94vw;
					display: block;
					margin: 0 0 15px;
					padding-bottom: 25px;
					box-shadow: 0px 1px grey;
					.meta{
						text-align: center;
						span{font-family: arial;}
					}
					.text{
						letter-spacing: initial;
						text-align: justify;
					}
					.meta, .text{margin-bottom: 10px;}
				}
			}
		}
	}
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
		.wrapper{
			padding: 4vh 2vw;
			.articles-wrapper{
				padding: 0;
				.article{
					width: 28vw;
					.meta{
						span{margin-right: 2vw;}
					}
					.text{
						letter-spacing: initial;
						text-align: justify;
					}
					// .meta, .text{margin-bottom: 10px;}
				}
			}
		}
	}
}